name: Run Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [8.3]
        laravel: [11.*, 12.*]

    name: P${{ matrix.php }} - L${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install dependencies
        run: |
          # 1. Adjust Orchestra Testbench dynamically according to the Laravel version
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.laravel == '12.*' && '^10.0' || '^9.0' }}" --no-interaction --no-update
          
          # 2. Update with -W to resolve nested dependency conflicts
          composer update --prefer-dist --no-interaction -W

      - name: Execute tests
        run: vendor/bin/pest